# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local files
.DS_Store
.envrc
.python-version
.vscode/*

# Logic Pro X projects
**/*.logicx/**/Project\ File\ Backups
**/*.logicx/**/Undo\ Data.nosync
**/*.logicx/**/Autosave
**/*.logicx/**/DisplayState.plist
**/*.logicx/**/WindowImage.jpg